<div id="registrationView">
    <cpn-header></cpn-header>
    <div class="container">
        <div class="registration-ctn">
            <div class="title-arrow-ctn">
                <cpn-back-arrow></cpn-back-arrow>
                <div class="logo-ctn">
                    <img src="/assets/images/logo-mdd.png" />
                </div>
                <h1 class="-small">Inscription</h1>
            </div>
            <cpn-registration-form></cpn-registration-form>
        </div>
    </div>
</div>