@use '../mixins' as fn;
@use '../variables' as vars;

#header {
    padding: 10px 0;
    border-bottom: 1px solid vars.$black;

    .img-ctn {
        display: flex;
        width: fn.clamp-calc(92px, 200px);
    }

    .header-ctn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-link {
            &:hover {
                opacity: 1;
            }
        }

        nav {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}