@use '../variables' as vars;

#registrationView {

    .registration-ctn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: vars.$mobile) {
    #header {
        display: none;
    }
}