<div id="themesView">
    <cpn-header></cpn-header>

    <div class="container">
        @if (isLoading) {
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        }
        <div [hidden]="isLoading">
            @if (themes$ | async; as resolvedThemes) {
            @if (resolvedThemes.length > 0) {
            <div class="themes-list">
                @for (theme of resolvedThemes; track theme.id) {
                <cpn-theme-card [theme]="theme"></cpn-theme-card>
                }
            </div>
            } @else {
            <div class="empty-feed">
                <p>Aucun thème à afficher pour le moment.</p>
            </div>
            }
            }
        </div>
    </div>
</div>