@use '../../variables' as vars;
@use '../../mixins' as fn;

.article-card {
    padding: fn.clamp-calc(10px, 15px) fn.clamp-calc(13px, 18px);
    background-color: vars.$primary-bg;
    display: flex;
    border-radius: 8px;
    transition: vars.$basic-transition;
    height: 100%;
    box-sizing: border-box;

    .card {
        display: flex;
        flex-direction: column;
        gap: fn.clamp-calc(12px, 20px);

        .card-title {
            color: vars.$black;
            font-weight: 700;
            font-size: vars.$small-size;
            margin: 0;
        }

        .card-meta {
            display: flex;
            align-items: center;
            gap: 60px;

            span {
                font-size: vars.$x-small-size;
            }
        }

        .card-content {

            p {
                font-size: vars.$x-small-size;
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    @media (max-width: vars.$mobile) {
        .card {
            .card-content {
                p {
                    -webkit-line-clamp: 4;
                }
            }
        }
    }
}