@use '../../variables' as vars;
@use '../../mixins' as fn;

.comment-card {
    display: flex;
    gap: 50px;

    .comment-content {
        padding: 20px;
        background-color: vars.$primary-bg;
        border-radius: 16px;
        flex-grow: 1;

        p {
            margin: 0;
        }
    }
}