<form (ngSubmit)="registrationForm.form.valid && onSubmit()" id="registrationForm" #registrationForm="ngForm"
    novalidate>
    <div class="main-input">
        <label for="username">Nom d’utilisateur</label>
        <input type="text" id="username" name="username" [(ngModel)]="registrationData.username" #username="ngModel"
            required minlength="3" [ngClass]="{ 'is-invalid': registrationForm.submitted && username.invalid }">

        @if (registrationForm.submitted && username.invalid) {
        <div class="invalid-feedback">
            @if (username.errors?.['required']) {
            <span class="input-error">Le nom d'utilisateur est requis.</span>
            }
            @if (username.errors?.['minlength']) {
            <span class="input-error">Doit contenir au moins 3 caractères.</span>
            }
        </div>
        }
    </div>

    <div class="main-input">
        <label for="email">Adresse e-mail</label>
        <input type="email" id="email" name="email" [(ngModel)]="registrationData.email" #email="ngModel" required email
            [ngClass]="{ 'is-invalid': registrationForm.submitted && email.invalid }">

        @if (registrationForm.submitted && email.invalid) {
        <div class="invalid-feedback">
            @if (email.errors?.['required']) {
            <span class="input-error">L'adresse e-mail est requise.</span>
            }
            @if (email.errors?.['email']) {
            <span class="input-error">Format d'e-mail invalide.</span>
            }
        </div>
        }
    </div>

    <div class="main-input">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="registrationData.password" #password="ngModel"
            required minlength="8" [ngClass]="{ 'is-invalid': registrationForm.submitted && password.invalid }">

        @if (registrationForm.submitted && password.invalid) {
        <div class="invalid-feedback">
            @if (password.errors?.['required']) {
            <span class="input-error">Le mot de passe est requis.</span>
            }
            @if (password.errors?.['minlength']) {
            <span class="input-error">Doit contenir au moins 8 caractères.</span>
            }
            @if (password.errors?.['pattern']) {
            <span class="input-error">Doit contenir majuscule, minuscule, chiffre et caractère spécial.</span>
            }
        </div>
        }
    </div>

    <button class="-small" mat-button type="submit" [disabled]="!registrationForm.form.valid">S'inscrire</button>
</form>