<form id="commentForm" (ngSubmit)="commentForm.form.valid && onSubmit()" #commentForm="ngForm">
    <textarea placeholder="Écrivez ici votre commentaire" id="commentContent" name="commentContent"
        [(ngModel)]="commentFormData.commentContent" required></textarea>
    <div class="button-ctn">
        <button [disabled]="!commentFormData.commentContent.trim()" class="animated-element -animated-top-right"
            type="submit">
            <img src="/assets/images/send.svg" />
        </button>
    </div>
</form>