<div id="feedView">
    <cpn-header></cpn-header>

    <div class="container">
        <div class="page-head-ctn">
            <button mat-button type="submit">Créer un article</button>
            <a class="feed-sort animated-element -animated-opacity" [class.rotate-arrow]="currentSortOrder === 'desc'"
                (click)="switchSort()">
                Trier par
                <img src="/assets/images/arrow-down.svg" alt="" />
            </a>
        </div>
        @if (isLoading) {
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        }
        <div [hidden]="isLoading">
            @if (articles$ | async; as resolvedArticles) {
            @if (resolvedArticles.length > 0) {
            <div class="articles-list">
                @for (article of resolvedArticles; track article.id) {
                <cpn-article-card [article]="article"></cpn-article-card>
                }
            </div>
            } @else {
            <div class="empty-feed">
                <p>Aucun article à afficher pour le moment. Recherchez de nouveaux thèmes !</p>
            </div>
            }
            }
        </div>
    </div>
</div>