@if(article) {
<a class="article-card animated-element -animated-up">
    <div class="card">
        <p class="card-title">{{ article.title }}</p>
        <div class="card-meta">
            <span class="card-date">Le {{ article.createdAt | date:'dd/MM/yyyy' }}</span>
            @if(article.author) {
            <span class="card-author">{{ article.author.username }}</span>
            }
        </div>
        <div class="card-content">
            <p>{{ article.content }}</p>
        </div>
    </div>
</a>
}