@use './variables' as vars;

.animated-element {
    transition: vars.$basic-transition;

    @media (min-width: vars.$mobile) {
        &.-animated-opacity {
            opacity: 1;

            &:hover {
                opacity: 0.7;
            }
        }

        &.-animated-up {
            transform: translateY(0);

            &:hover {
                transform: translateY(-5px);
            }
        }

        &.-animated-scale {
            transform: scale(1);

            &:hover {
                transform: scale(1.07);
            }
        }

        &.-animated-top-right {
            transform: translate3d(0, 0, 0);

            &:hover {
                transform: translate3d(5px, -5px, 0);
            }
        }
    }
}