@use './variables' as vars;

button {
    &.mdc-button {
        height: 40px;
        width: 153px;
        border-radius: 8px;
        transition: vars.$basic-transition;
        padding: 10px;

        .mat-mdc-button-touch-target {
            border-radius: 8px;
            height: 40px;
            transition: vars.$basic-transition;
        }

        .mdc-button__label {
            font-size: vars.$small-size;
        }

        &.-small {
            width: 128px;
        }

        &.-large {
            width: 166px;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

}

button[mat-stroked-button] {
    border-width: 1px;
    border-color: vars.$black;
    font-weight: 600;

    .mdc-button__outline {
        border-color: vars.$black;
        transition: vars.$basic-transition;
    }

    .mdc-button__label {
        color: vars.$black;
        transition: vars.$basic-transition;
    }

    @media (min-width: vars.$mobile) {

        &:hover,
        &:focus {
            .mat-mdc-button-touch-target {
                background-color: vars.$primary-button-bg;
            }

            .mdc-button__outline {
                border-color: vars.$primary-button-bg;
            }

            .mdc-button__label {
                color: vars.$white;
            }
        }
    }
}

button[mat-button] {
    font-weight: 700;

    .mat-mdc-button-touch-target {
        background-color: vars.$primary-button-bg;
    }

    .mdc-button__label {
        color: vars.$white;
        transition: vars.$basic-transition;
    }

    &:disabled {
        .mat-mdc-button-touch-target {
            background-color: #939393;
        }
    }

    @media (min-width: vars.$mobile) {

        &:hover,
        &:focus {
            .mat-mdc-button-touch-target {
                background-color: vars.$black;
            }
        }
    }
}