@use './variables' as vars;

button {
    height: 40px !important;
    width: 153px !important;
    border-radius: 8px !important;
    transition: vars.$basic-transition;
    padding: 10px !important;

    .mat-mdc-button-touch-target {
        border-radius: 8px !important;
        height: 40px !important;
        transition: vars.$basic-transition;
    }

    .mdc-button__label {
        font-size: vars.$small-size;
    }

    &.-small {
        width: 128px !important;
    }

    &.-large {
        width: 166px !important;
    }

    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.5;
    }
}

button[mat-stroked-button] {
    border-width: 1px;
    border-color: vars.$black;
    font-weight: 600;

    .mdc-button__outline {
        border-color: vars.$black;
        transition: vars.$basic-transition;
    }

    .mdc-button__label {
        color: vars.$black;
        transition: vars.$basic-transition;
    }

    &:hover,
    &:focus {
        .mat-mdc-button-touch-target {
            background-color: vars.$primary-button-bg;
        }

        .mdc-button__outline {
            border-color: vars.$primary-button-bg;
        }

        .mdc-button__label {
            color: vars.$white;
        }
    }
}

button[mat-button] {
    font-weight: 700;

    .mat-mdc-button-touch-target {
        background-color: vars.$primary-button-bg;
    }

    .mdc-button__label {
        color: vars.$white;
        transition: vars.$basic-transition;
    }

    &:hover,
    &:focus {
        .mat-mdc-button-touch-target {
            background-color: vars.$black;
        }
    }
}