@use './variables' as vars;

.main-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: vars.$small-size;
}

textarea {
    border: 1px solid vars.$black;
    font-size: vars.$medium-size;
    font-family: vars.$primary-font;
    border-radius: 16px;
    min-height: 120px;
    flex-grow: 1;
    resize: none;
    padding: 15px;
    min-width: 0;

    &::placeholder {
        color: vars.$placeholder;
    }
}

.main-input input {
    height: 50px;
    width: 250px;
    border: 1px solid vars.$black;
    border-radius: 8px;
    padding: 0 10px;
    font-size: vars.$medium-size;
    display: flex;
    box-sizing: border-box;

    &.is-invalid {
        outline-color: vars.$warning;
        outline-style: solid;
        outline-width: 2px;
    }
}

.input-error {
    font-size: vars.$x-small-size;
    color: vars.$warning;
}

@media (max-width: 300px) {
    .main-input input {
        width: 100%;
    }
}