@use './variables' as vars;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
input,
select {
    font-family: vars.$primary-font;
}

h1 {
    font-size: vars.$large-size;
    font-weight: 700;
    position: relative;



    &.-small {
        font-weight: 400;
    }
}

body {
    font-family: vars.$primary-font;
    font-size: vars.$medium-size;
}