<form (ngSubmit)="connectionForm.form.valid && onSubmit()" id="connectionForm" #connectionForm="ngForm" novalidate>
    <div class="main-input">
        <label for="loginOrEmail">E-mail ou nom d’utilisateur</label>
        <input type="text" id="loginOrEmail" name="loginOrEmail" [(ngModel)]="formData.loginOrEmail"
            #loginModel="ngModel" required [ngClass]="{ 'is-invalid': connectionForm.submitted && loginModel.invalid }">

        @if (connectionForm.submitted && loginModel.invalid) {
        <div class="invalid-feedback">
            @if (loginModel.errors?.['required']) {
            <span class="input-error">Nom d'utilisateur ou e-mail requis.</span>
            }
        </div>
        }
    </div>

    <div class="main-input">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" #passwordModel="ngModel"
            required minlength="8" [ngClass]="{ 'is-invalid': connectionForm.submitted && passwordModel.invalid }">

        @if (connectionForm.submitted && passwordModel.invalid) {
        <div class="invalid-feedback">
            @if (passwordModel.errors?.['required']) {
            <span class="input-error">Le mot de passe est requis.</span>
            }
            @if (passwordModel.errors?.['minlength']) {
            <span class="input-error">Doit contenir au moins 8 caractères.</span>
            }
        </div>
        }
    </div>

    @if (errorMessage) {
    <div class="input-error">
        {{ errorMessage }}
    </div>
    }

    <button class="-small" mat-button type="submit" [disabled]="!connectionForm.form.valid">Se connecter</button>
</form>