// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@use './assets/scss/variables' as vars;
@use './assets/scss/global';
@use './assets/scss/forms';
@use './assets/scss/buttons';

// Views
@use './assets/scss/views/homepage';
@use './assets/scss/views/registration';
@use './assets/scss/views/connection';
@use './assets/scss/views/feed';

// Components
@use './assets/scss/components/header';
@use './assets/scss/components/registration-form';
@use './assets/scss/components/connection-form';
@use './assets/scss/components/back-arrow';
@use './assets/scss/components/article-card';

// Items
@include mat.core();


html {
  @include mat.theme((color: (theme-type: light,
      ),
      typography: vars.$primary-font,
      density: 0,
    ));
}

:root {
  --mat-sys-primary: #7763C5;
}

html,
body {
  height: 100%;
}