// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@use './assets/scss/variables' as vars;
@use './assets/scss/global';
@use './assets/scss/forms';
@use './assets/scss/buttons';
@use './assets/scss/animations';

// Views
@use './assets/scss/views/homepage';
@use './assets/scss/views/registration';
@use './assets/scss/views/connection';
@use './assets/scss/views/feed';
@use './assets/scss/views/themes';
@use './assets/scss/views/single-article';
@use './assets/scss/views/create-article';
@use './assets/scss/views/not-found';

// Components
@use './assets/scss/components/header';
@use './assets/scss/components/back-arrow';
@use './assets/scss/components/panel';

// Forms
@use './assets/scss/components/forms/registration-form';
@use './assets/scss/components/forms/connection-form';
@use './assets/scss/components/forms/comment-form';

// Cards
@use './assets/scss/components/cards/theme-card';
@use './assets/scss/components/cards/article-card';
@use './assets/scss/components/cards/comment-card';


// Items
@include mat.core();


html {
  @include mat.theme((color: (theme-type: light,
      ),
      typography: vars.$primary-font,
      density: 0,
    ));
}

:root {
  --mat-sys-primary: #7763C5;
  --mat-sys-body-large-size: vars.$medium-size;
  --mat-sys-body-large-font: vars.$primary-font;
  --mdc-outlined-text-field-outline-color: #7763C5;
  --mat-sys-outline: 2px;
  --mdc-outlined-text-field-outline-width: 2px;
}

html,
body {
  padding-bottom: 20px;
}