<header id="header">
    <div class="container">
        <div class="header-ctn">
            <a class="" (click)="redirectHome()">
                <div class="img-ctn">
                    <img src="/assets/images/logo-mdd.png" alt="Logo MDD" />
                </div>
            </a>
            @if(userLogged) {
            <nav>
                <a class="-small -bold -link -warning-color" (click)="logout()">Se déconnecter</a>
                <a class="-primary-color -link">Articles</a>
                <a class="-link">Thèmes</a>
                <a class="-image">
                    <img src="/assets/images/user.svg" alt="Icône utilisateur" />
                </a>
            </nav>
            }
        </div>
    </div>
</header>